.stats-header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 95px;
    padding-bottom: 25px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.stats-header p{
    font-size: clamp(25px, 8vw, 32px);
    width: clamp(322px,42.8vw,700px);
    padding-left: 2.6vw;
    font-weight: 700;
    color: #2F4846;
}
.pair{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.card-box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.cards-wrapper {
    display: flex;
    width: 72.4vw;
    justify-content: space-between;
    flex-direction: row;
  }

  @media (max-width:500px) {
    .card-box{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center; 
    }
    .cards-wrapper {
        display: flex;
        width: 72.4vw;
        justify-content: space-between;
        flex-direction: column;
      }
  }